<div class="row">
	<div class="span6 offset3">
		<div class="well">

			<%= image_tag @earring.image.url(:medium) %>

			<p>
			  <strong>Brand:</strong>
			  <%= @earring.brand %>
			</p>

			<p>
			  <strong>Color:</strong>
			  <%= @earring.color %>
			</p>

			<p>
			  <strong>User:</strong>
			  <%= @earring.user.name.capitalize %>
			</p>

			<% if current_user == @earring.user %>
				<%= link_to 'Edit', edit_earring_path(@earring) %> |
			<% end %>

			<%= link_to 'Back', earrings_path %>

		</div>
	</div>
</div>
